* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: rgb(51, 51, 51);
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*
The grid should have 4 rows
3rem, 1rem, 4rem, 3rem respectively
and 3 columns each 1/3rd of available width */
.app-grid {
    background: rgb(228, 228, 228);
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    padding: 2em;
    margin: 2em auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
}

.api {
    width: 100%;
    height: 100%;
    max-width: 500px;
    background: white;
    padding: 0 1em;
    border-radius: 10px;
    box-shadow: 0 2px 2px #2222227e;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.api>* {
    font-size: 0.85rem;
    font-weight: bolder;
    border-radius: 4px;
    line-height: 1.2;
}

.api>p {
    padding: 0.25em;
    border: 1px solid rgba(0, 132, 255, 0.808);
    font-size: 0.8rem;
    clear: both;
}

.name {
    background: rgba(122, 184, 255, 0.205);
    padding: 0.25em 0.3em;
    font-size: 1.2rem;
    text-align: center;
    font-size: 1.35rem;
    line-height: 1.4;
    border: 1px solid rgba(0, 132, 255, 0.808);
    margin: 0.5em 0;
}

.name:hover {
    background: rgba(0, 0, 255, 0.253);
    padding: 0.25em 0.3em;
    color: white;
    border: 1px solid rgb(0, 0, 255);
}

.description {
    color: #272727;
    font-size: 0.85rem;
    padding: 0.25em;
    color: rgb(27, 27, 27);
    line-height: 1.4;
    margin: 0.25em 0;
}

.category {
    background: rgba(0, 0, 255, 0.205);
    color: white;
    padding: 0.1em 0.25em;
    border-radius: 4px;
    font-size: 1rem;
}

span.auth,
span.https,
span.cors {
    padding: 0.25em;
    border-radius: 4px;
    float: right;
}

p.auth,
p.https,
p.cors {
    padding: 0.5em;
    border-radius: 4px;
    margin: 0.25em 0;
    overflow: auto;
}

a.link {
    display: block;
    color: rgb(27, 27, 27)
}

a.link:hover {
    color: whitesmoke;
}

.notavail {
    color: rgb(121, 0, 0);
    background: rgba(255, 1, 1, 0.205);
    border: 1px solid rgb(139, 0, 0);
}

.available {
    background: rgba(1, 255, 1, 0.205);
    border: 1px solid rgb(1, 255, 1);
}

.counter {
    width: 32px;
    height: 32px;
    background: rgba(122, 184, 255, 0.205);
    margin: 0.75em auto 1em;
    text-align: center;

}

.counter span {
    font-size: 1rem;

}

.header {
    width: 100%;
    background: white;
}